streamlit
langchain
langchain-community
langchain-groq
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
duckduckgo-search
pymupdf
arxiv
wikipedia
SQLAlchemy
oracledb
python-dotenv